[2017-05-29 05:47] pwalsh opened #1 "Getting started"
# Description

This issue documents the initial steps to get started with a new Frictionless Data implementation.

# Tasks

- [x] Travis configuration
- [x] Coveralls configuration
- [x] Basic setup of README with badges
- [ ] Basic setup of license
- [x] Review the whole family of [specifications](http://specs.frictionlessdata.io)
- [x] Review the [implementation notes](http://specs.frictionlessd

[2017-05-29 05:48] pwalsh opened #2 "Finishing up"
# Description

This issue describes the set of tasks to complete in order to finish up work on the library.

# Tasks

- [ ] Touch base with the @jobarratt and @pwalsh to notify that you consider the work complete
- [ ] Provide a short description / link to code for how each action is implemented, with a link to unit tests that prove each action
- [ ] Tag your candidate code as v0.1
- [ ] Setup tra

[2017-09-13 19:58] roll opened #3 "Rename DataPackage to Package class?"
# Overview

We've renamed `DataPackage` class to `Package` in all FD implementations lately. Not sure it's possible in Java. But just a note that it's happened in other libs.

[2017-09-19 06:43] roll opened #4 "Support foreign key checks and dereferencing"
# Overview

See - https://github.com/frictionlessdata/datapackage-js#foreign-keys

[2017-09-28 14:09] roll opened #5 "Support datapackage identifier spec?"
# Overview

Specification - http://dataprotocols.org/data-package-identifier/

[2017-11-12 20:05] georgeslabreche opened #6 "Read and validate a data package descriptor, including profile-specific validation via the registry of JSON Schemas"
Read and validate a data package descriptor, including profile-specific validation via the registry of JSON Schemas.

- [x] Create package from JSONObject descriptor.
- [x] Create package from JSON String descriptor.
- [x] Create package from Remote File descriptor.
- [x] Create package from Local File descriptor.
- [x] Schema validation.
- [x] Support strict validation flag (GitHub Issue #17).
-

[2017-11-12 20:06] georgeslabreche opened #7 "Create and edit a data package descriptor, including methods to add and remove resources and validation after editing."
Create and edit a data package descriptor, including methods to add and remove resources and validation after editing.

- [x] Add descriptor String property
- [x] Add descriptor JSONObject property
- [x] Add descriptor JSONArray property
- [x] Remove descriptor property by key name.
- [x] Add JSONObject resources.
- [x] Remove JSONObject resources.
- [x] Validation after editing.

[2017-11-12 20:06] georgeslabreche opened #8 "Provide an API to interact with a data package descriptor"
Provide an API to interact with a data package descriptor.

[2017-11-12 20:06] georgeslabreche opened #9 "Streaming and reading of resources through a table schema with cast on iteration."
Streaming and reading of resources through a table schema with cast on iteration.

- [x] Iterate over data in CSV String format.
- [x] Iterate over data in local CSV file.
- [x] Iterate over data in remote CSV file (URL).
- [x] Iterate over data in JSON Array format.
- [x] Cast on iteration.
- [x] Update README.

[2017-11-12 20:07] georgeslabreche opened #10 "Save a data package descriptor to a file path."
Save a data package descriptor to a file path.

[2017-11-12 20:07] georgeslabreche opened #11 "Save a data package as a zip file on disc."
Save a data package as a zip file on disc.

[2017-11-12 20:07] georgeslabreche opened #12 "Read a zip file containing a data package."
Read a zip file containing a data package.

[2017-11-12 20:07] georgeslabreche opened #13 "Cover the latest changes in the specs such as string/array for path etc."
Cover the latest changes in the specs such as string/array for path etc.

[2017-11-12 20:08] georgeslabreche opened #14 "Support for schema dereferencing before validation."
Support for schema dereferencing before validation:

- [x] resource.schema
- [x] resource.dialect

[2017-11-12 20:08] georgeslabreche opened #15 "Support for multipart resources."
Support for multipart resources.

[2017-11-12 20:08] georgeslabreche opened #16 "Support for csv dialects."
Support for csv dialects.

[2017-11-12 20:42] georgeslabreche opened #17 "Supporting strict/non-strict validation when creating data package object."
Supporting strict/non-strict validation when creating data package object.

[2017-11-12 23:49] georgeslabreche commented on #6
@roll I think the only think missing thing here is was _"Support strict validation flag,"_ which I implemented as as new issue I created, issue #17, and _"Profile-specific validation via the registry of JSON Schemas."_

For _"Read and validate a data package descriptor,"_ I've updated the README to document how this has been implemented.

I'm not exactly sure what is meant by "_Profile-specific va

[2017-11-13 00:56] georgeslabreche commented on #7
@roll:
1) The _"methods to add and remove resources"_ were already implemented, I have documented this process in the README. However, this is done with JSONObject rather than a Resource class (which doesn't exist right now). Should I implement this with a Resource class instead?

2) For "create and edit a data package descriptor," that's pretty generic and there's a lot of properties so I just im

[2017-11-13 01:05] georgeslabreche commented on #8
@roll does this suffice?

[code]

[2017-11-13 01:06] georgeslabreche commented on #15
@roll this is already supported unless I am missing something?

[2017-11-13 10:48] roll commented on #6
@georgeslabreche
Cool. Could you please post an update to https://github.com/frictionlessdata/implementations/issues/26 (requirements I should mark as done)? I think I've reviewed this lib when it was just bootstrapped.

Related to validation:
- a descriptor should conform to JSON Schema pointed in `descriptor.profile` attribute. It could be from the registry - http://frictionlessdata.io/schemas/r

[2017-11-13 11:08] roll commented on #7
@georgeslabreche

1. It's hard for me to say what will be better for Java. General recommendation is to be as closer as possible with Python/JavaScript/Ruby API to make knowledge across the eco-system more interchangeable. External API here is not related to having or not `Resource` class in Python/etc. Users operate with just data structures (so I suppose that what you've already implemented with

[2017-11-13 11:19] roll commented on #7
So to summarize:
- we validatie a descriptor on every call of:
  - `constructor`
  - `add/removeResource`
  - `add/removeProperty`
- if package is created with no strict flag after every validation we just add validation errors to `package.errors` and set `package.valid` to `False`
- if package is created with `strict=True` after every validation we raise an exception if there are validation error

[2017-11-13 11:23] roll commented on #8
@georgeslabreche
Will `package.getResources()` return an array of `Resource` instances?

Python/JavaScript API - https://github.com/frictionlessdata/implementations#datapackage

[2017-11-13 11:29] roll commented on #15
@georgeslabreche
This means having an individual resource split into a few parts:
- data-part1.csv -> headers/row1/row2
- data-part2.csv -> row3/row4/etc

http://frictionlessdata.io/specs/data-resource/#data-in-multiple-files

---

This is the lowest priority feature from specs-v1 from the whole work.

[2017-11-13 11:59] roll commented on #11
A data packages = descriptor file + resource files (so it's for having the whole data package inside one zip file)

[2017-11-27 21:15] georgeslabreche opened #18 "Create a Resource class. Handle get/set Resource with the created Resource object."
At the moment, a Resource is simply a JSONObject and a list of Resources is a JSONArray of JSONObjects.

Something like getResources() return a JSONArray of JSONObjects representing Resource objects. This goes back to my first question in Issue #7. The reason I went ahead with JSONObjects and JSONArray is because its seems like 1) we don't necessarily want to map every single datapackage JSON elem

[2017-11-27 21:20] georgeslabreche commented on #8
@roll: package.getResources() will return a JSONArray of JSONObjects representing Resource objects. This goes back to my first question in Issue #7. The reason I went ahead with JSONObjects and JSONArray is because its seems like 1) we don't necessarily want to map every single datapackage JSON elements to equivalent class and properties and 2) in the other libraries we are interacting with JSON s

[2017-11-28 00:35] georgeslabreche commented on #14
@roll: I read the section _"on dereferencing and descriptor validation"_ in [these specs](https://frictionlessdata.io/specs/implementation/) as well as the GitHub Issue on ["Dereference pointers before descriptor validation."](https://github.com/frictionlessdata/specs/issues/365) and [this javascript implementation](https://github.com/frictionlessdata/datapackage-js/blob/master/src/helpers.js#L69-

[2017-11-28 00:38] georgeslabreche commented on #6
@roll I'm bypassing the registry and checking if the profile files exist directly. Is this OK or is there a particular reason why the registry exists and why I should scan it before trying to read the profile file in question?

[2017-11-28 00:51] georgeslabreche commented on #18
Actually, I will need a Resource class even if it's just for the .iter and .read methods to be invoked as they are invoked in the other libraries.

[2017-11-28 01:52] georgeslabreche commented on #9
@roll So we only attempt to cast the data if the schema is provided as part of the Resource object?

[2017-11-29 10:53] roll commented on #14
@georgeslabreche
Consider a resource descriptor:

[code]

Now if you validate it against JSON Schema profile (http://specs.frictionlessdata.io/schemes/tabular-data-resource.json) in reality almost no checks will be done.

So first we need to load http://example.com/schema.json:

[code]

And only then to do a validation.

[2017-11-29 10:55] roll commented on #6
@roll
I do the same for other implementations. For now a concept that we sheep profiles with the libraries so on low-level it's enough to check e.g. for `{profile-id}.json` file in `profiles`.

[2017-11-29 11:09] roll commented on #9
@georgeslabreche
Yes - https://github.com/frictionlessdata/tableschema-js/blob/master/src/table.js#L55-L143.

In Python/JavaScript a `Resource` class just re-use `tableschema.Table` for all this operations. Hopefully it's possible to do also in Java.

[2017-11-29 11:14] roll commented on #8
@georgeslabreche
In other libs `package.resources` has `Resource[]` type. It's pretty common operation on data package when we iterate over resource and e.g. reading them:

[code]

So providing here API over raw data structures is very desirable.

And for raw data structure iteration users always could do:

[code]

[2017-11-29 20:29] georgeslabreche commented on #8
@roll I agree. Will do!

[2017-11-29 20:30] georgeslabreche commented on #18
From @roll, commented on Issue #8:

@georgeslabreche
In other libs `package.resources` has `Resource[]` type. It's pretty common operation on data package when we iterate over resource and e.g. reading them:

[code]

So providing here API over raw data structures is very desirable.

And for raw data structure iteration users always could do:

[code]

[2017-11-29 20:32] georgeslabreche commented on #6
@roll I'll mark this as Done then :).

[2017-11-30 02:21] georgeslabreche opened #19 "Resource property and getter/setter for hashes and licenses."
Will handle this objects as JSONArray objects.

[2017-11-30 04:03] georgeslabreche commented on #15
@roll **IteratorChain** saved the day!
https://commons.apache.org/proper/commons-collections/javadocs/api-2.1.1/org/apache/commons/collections/iterators/IteratorChain.html

Is it OK that we have to explicitly set a base path for the Resource object if the datapackage is using relative file paths?

[2017-11-30 04:04] georgeslabreche commented on #9
Oh man!

[2017-11-30 04:05] georgeslabreche commented on #13
@roll can we explicitly list these? Looks like this will be the very last issue I will work on so I want to make sure it is 100% clear in case it ends up being an 11th hour thing.

[2017-11-30 04:10] georgeslabreche commented on #14
@roll understood 100%!

[2017-11-30 07:19] roll commented on #18
Yes. Resource is probably the most important component in the whole eco-system because it represents a data file. I think I've mentioned it in some other issue but just in case copying it here - in other libs we're able to re-use a lot of `tableschema.Table` for the `Resource` class. For many operations (like reading) it's just a wrapper over  `tableschema.Table`.

[2017-11-30 07:23] roll commented on #15
@georgeslabreche
Great!

Base path is even a part of the reference - https://github.com/frictionlessdata/implementations#datapackage

I think in Python/JavaScript now we use current directory as a default base path.

[2017-11-30 07:28] roll commented on #13
If you don't have any design/prototypes based on the specs from a few month ago then we could close this issue. So we're OK if we're reading current text of the spec.

[2017-11-30 08:15] georgeslabreche opened #20 "Implement read() method in Resource class."
Implement read() method in Resource class. Should be using tableschema-java to achieve this.

[2017-11-30 08:48] georgeslabreche commented on #15
@roll so current directory as in the directory where in the file system the library is residing or  the directory where the app using the library is residing? I'm not 100% convinced this is the best approach, with java at least, because of the potential different possibilities where that library will end up. I'm not yet sure which path is retrieved when using something like `System.getProperty("us

[2017-11-30 08:52] georgeslabreche commented on #13
@roll I just went through implementing that resource.path feature when developing that resource.iter() method. The array of paths can be an array of local paths or an array of remote paths but not a mix of both. So I think we're good?

[2017-11-30 08:54] roll commented on #15
@georgeslabreche
Can't say for Java but the idea that user has a working directory with e.g. datapackage.json. So instead of pushing him to write something like this `package = Package('descriptor.json`, base_path='.')` other libs just use current working directory.

[2017-11-30 08:55] roll commented on #13
@georgeslabreche
Can't be mixed. So yes :+1:

[2017-11-30 09:25] georgeslabreche commented on #14
@roll so is this only for **tabular-data-resource** and **tabular-data-package** profiles?

In the case of a **tabular-data-resource** we dereference and validate against the following schema:
http://frictionlessdata.io/schemas/data-resource.json

In the case of a **tabular-data-package**, we dereference and validate against the following schema:
http://frictionlessdata.io/schemas/data-package.jso

[2017-11-30 09:28] roll commented on #14
@georgeslabreche
It could be done using simple rule - if `resource.schema/dialect` is a string we need to dereference it.

[2017-11-30 09:34] georgeslabreche commented on #14
@roll I was making a mistake, I only need to worry about the Resource specs for this where schema is clearly a property: http://frictionlessdata.io/specs/data-resource/. I was unnecessarily confusing myself with different profile types.

[2017-11-30 09:36] georgeslabreche commented on #15
@roll I will test behaviour in Java to make sure I use the proper way of getting the working directory in a predictable manner.

[2017-11-30 10:15] roll commented on #14
Yes there are only two cases from all the specs for dereferencing: `resource.schema` and `resource.dialect`.

[2017-12-02 18:27] jackyq2015 opened #21 "Package class constructor should create a instance with template"
The Package() constructor with empty argument should take a template json file and fill in the jsonObject field instead of leave it empty. So user can fill in the value against the key from template instead of creating a blank instance user cannot use.

[2017-12-02 18:30] jackyq2015 opened #22 "datapackage-java and tableschema-java integration"
Would like to see the datapackage-java and reference the tableschema-java data model (or vise verse) so user can benefit from both spec/repo.

[2017-12-02 18:38] jackyq2015 opened #23 "save package only save the datapackage.json"
My understanding based on the spec is that all the data files in the json file should also get packaged in a zip file along with datapackage.json file.

[2017-12-03 17:09] georgeslabreche opened #24 "Implement more thorough testing for resource schema dereferencing with invalid resource schema"
Putting an invalid resource schema like this one does not trigger a validation exception:
https://github.com/frictionlessdata/datapackage-java/blob/6710fe22ded6674af7699a773a70bff918e7f76c/src/test/resources/fixtures/schema/invalid_population_schema.json

Because the data package schema only checks if resource schema is an object:
https://github.com/frictionlessdata/datapackage-java/blob/6710fe22d

[2017-12-03 18:08] georgeslabreche commented on #14
@roll is there a reason why resource.dialect is not mentioned in these specs?
https://frictionlessdata.io/specs/data-resource/

[2017-12-03 20:37] georgeslabreche commented on #16
Pending tableschema-java refactoring:
https://github.com/frictionlessdata/tableschema-java/issues/18

[2017-12-03 20:38] georgeslabreche commented on #9
Pending tableschema-java refactoring:
https://github.com/frictionlessdata/tableschema-java/issues/18

[2017-12-03 20:38] #11 closed

[2017-12-03 20:38] #10 closed

[2017-12-03 20:38] #7 closed

[2017-12-03 20:38] #17 closed

[2017-12-03 20:38] #3 closed

[2017-12-03 20:38] #12 closed

[2017-12-03 20:38] #8 closed

[2017-12-03 20:38] #6 closed

[2017-12-03 20:38] #13 closed

[2017-12-03 20:38] #15 closed

[2017-12-03 20:38] #18 closed

[2017-12-03 20:38] #19 closed

[2017-12-03 20:38] #14 closed

[2017-12-31 13:12] georgeslabreche commented on #22
Seems like this is the same concern as Issue #9.

[2018-01-01 19:20] #9 closed

[2018-01-01 19:20] #20 closed

[2018-08-12 16:19] wetneb opened #25 "Upload to Maven"
Most Java libraries are available on Maven (http://search.maven.org/), it seems that this one is not. It would be very useful to upload it there.

[2018-08-13 07:11] wetneb opened #26 "Migrate out of org.json library"
Using org.json as a JSON library is problematic, as [the licence of this library](https://json.org/license.html) includes an additional clause "The Software shall be used for Good, not Evil."

This is regarded as a non-free licence (it is non OSI-compliant).

That makes it impossible for projects relying on this library (such as [OpenRefine](https://github.com/OpenRefine/OpenRefine)) to be OSI-com

[2019-01-03 11:01] rufuspollock commented on #26
@georgeslabreche can you take a look at this as this is a blocker for integrations.

[2019-05-20 06:50] roll commented on #22
@georgeslabreche
The #9 is closed - shall we close this one too is it's covered?

[2019-05-20 08:25] roll commented on #2
@georgeslabreche
Are we ok to close this one?

[2019-05-20 08:25] roll commented on #1
@georgeslabreche
Are we ok to close this one?

[2019-06-10 06:41] #2 closed

[2019-06-10 06:41] #1 closed

[2019-10-18 14:10] iSnow opened #29 "Streamline `Package.java` API"
# Overview

Besides the no-args constructor, the `Package` class has 8 constructors, half of them just convenience functions (See "AS IS" below).

The way the API is structured is also not very Java-like, as

- URL-based constructors are limited to HTTP/HTTPS protocols according to the JavaDoc, but should (and probably do) also work for file-URLs.

- Usage of filepaths in the form of Strings is at

[2019-10-29 12:33] roll commented on #29
@iSnow
It's really hard to say for me because I don't use Java but it seems a reasonable change. BTW as a client how can I use the lib comparing these 3 options?

[2019-10-29 14:41] iSnow commented on #29
Hi, considering you aren't that familiar with Java, I won't directly write out code examples, but pseudo code. I am trying to be fair to the current API, eg. Case 4 is shorter in the current setup, but binds you to one certain JSON lib (Java, unfortunately, has many).

I'd like to point you to Case 5 & 6. Similar setup, one time the `datapackage.json` is directly referenced via URL (in this case,

[2019-10-29 18:49] lwinfree commented on #26
The action item for this issue is to replace the org.json library in the datapackage-java code as it has a non OSI-compliant license. We should use a library with an open license such as MIT, Apache 2.0, or others listed on the [OSI website](https://opensource.org/licenses).

[2019-10-29 21:38] rufuspollock commented on #26
@lwinfree 👏 👏 it would be **great** to get this sorted as obviously usage in openrefine is 👍 💯

This should be pretty fast - it is just finding an OSI compliant java json lib and then refactoring to use that. If @roll can't sort this maybe someone at @datopian can help.

[2019-10-29 22:40] georgeslabreche commented on #29
Hi guys!

I really like these proposals and agree that they are an improvement with respect to streamlining.

It's been a while so it's difficult for me to remember the exact details as to why it was implemented the way it is now. However, I do recall that special attention was made to stay true to [the specifications](https://frictionlessdata.io/specs/data-package/) as well as preserving the cons

[2019-10-29 22:41] georgeslabreche commented on #29
Hi guys!

I really like these proposals and agree that they are an improvement with respect to streamlining.

It's been a while so it's difficult for me to remember the exact details as to why it was implemented the way it is now. However, I do recall that special attention was made to stay true to [the specifications](https://frictionlessdata.io/specs/data-package/) as well as preserving consiste

[2019-10-29 22:48] georgeslabreche commented on #22
@roll I believe this Issue can be closed, yes.

[2019-10-30 07:04] iSnow commented on #26
Based on [usage stats](https://www.baeldung.com/java-json), it's a choice between either GSON or Jackson, the others are either too old or small projects with relatively little use. For those two projects, long-term survival is not an issue.

I would question whether exposing methods tying the external API to one specific JSON provider is a good design choice, though. I'd think it should use one l

[2019-10-30 09:46] iSnow commented on #29
Hi @georgeslabreche,

great to hear from you! I do recognize that you were following the [interface draft](https://github.com/frictionlessdata/software/blob/master/README.md#datapackage) very closely, which is a good thing. In multi-language projects though, you will always have a certain tension between what is proposed as a common interface and what is true to the nature of each language. It is

[2019-10-30 10:07] roll commented on #22
Awesome, thanks!

[2019-10-30 10:07] #22 closed

[2019-10-30 17:06] lwinfree commented on #26
Thanks @iSnow! Do you think you would have time to work on this? Or do you think you could help me estimate how much work this would be? I don't know any Java, so it is hard for me to estimate how long it would take to fix this.

[2019-10-30 20:08] iSnow commented on #26
Sure, @lwinfree.

I am currently in discussion with @roll about [an issue I created](https://github.com/frictionlessdata/datapackage-java/issues/29) that deals with streamlining the datapackage API.  Part of that is getting the dependency on org.json classes out of the interface so people could use datapackage in their projects and not be tied to one JSON provider.

If that is accepted and the int

[2019-10-31 14:56] iSnow opened #30 "Data Resource JSON schema definition for `schema` seems to contradict specification"
# Overview

Caution: there's a lot of different uses of "schema" coming, so bear with me...

in `src/main/resources/`, we find the JSON schema definition files for the various parts of a DataPackage. Among them is [data-resource.json](https://github.com/frictionlessdata/datapackage-java/blob/master/src/main/resources/schemas/data-resource.json), where the formal definition for a `schema` property

[2019-10-31 15:28] iSnow commented on #30
Also @roll - that problem isn't specific to the Java implementation, it exists in the spec repository: https://frictionlessdata.io/schemas/data-resource.json as well. I'll file a bug against that, and we can close this one

[2019-10-31 17:58] lwinfree commented on #26
@iSnow awesome. It is really great to have your input and help!

[2019-11-01 12:08] roll commented on #30
https://github.com/frictionlessdata/specs/issues/645

[2019-11-01 12:08] #30 closed

[2019-12-04 08:33] rufuspollock commented on #26
@iSnow any update here? It would be so great to get the licensing issue resolved here. This would unblock getting this back in OpenRefine.

[2019-12-04 11:25] iSnow commented on #26
I checked what it would take to migrate, but it is not looking good - my guesstimate would be a solid 3-4 weeks for both Java libs together as the json.org code is woven into the whole logic. Since the organization I work for can live with the strange json.org license, other issues like more rigid parsing, security and decent test coverage have a higher prio. And, unfortunately, working on this in

[2019-12-10 22:10] lwinfree commented on #26
Thanks for the update @iSnow! That is really helpful information, and I understand that you have higher priorities. To try and get some additional help on the issue, we are going to post this on bountysource (if you end up having the time to work on it, please accept the bounty yourself :-) ).

[2019-12-10 22:16] lwinfree commented on #26
Here's the bounty: https://www.bountysource.com/issues/62062088-migrate-out-of-org-json-library

[2019-12-10 22:30] wetneb commented on #26
It's always hard to put a price tag on an issue, but in this case the bounty seems pretty small compared to the task. (just to be clear: I am not trying to bargain, I have no intention to work on this myself)

I agree - for instance the licenses in a Data Package are stored as JSON objects directly, using the underlying library, as [the example in the README shows](https://github.com/frictionlessd

[2019-12-11 11:07] iSnow commented on #26
Thanks for the write-up, @wetneb - that's exactly it.

I am at liberty to spend *some* time on improving the code on company costs, but not on topics that don't matter to the org (like this one) and not the amount of hours that would be needed for refactoring both libraries to a different JSON provider. I also like working on it in my free time, but fixing licensing issues is not that interesting,

[2019-12-11 14:52] lwinfree commented on #26
That sounds good @iSnow, and thanks for the feedback @wetneb. We're going to look at our budget and increase the bounty to better reflect the amount of work.

[2019-12-16 11:41] ShadowZone opened #33 "NPE when creating Dialect from CSVFormat"
# Overview

I get a NullPointerException when trying this:
[code]

The error comes from  https://github.com/frictionlessdata/datapackage-java/blob/66f3f82793616cc768f97214c8ac5ff4aa825552/src/main/java/io/frictionlessdata/datapackage/Dialect.java#L140

As

[code]

returns **null** for some CSVFormats (e.g. DEFAULT or EXCEL because the value will not be set).

---

Please preserve this line to noti

[2019-12-16 13:11] iSnow commented on #33
Thanks for bringing this to our attention. It's fixed, and we have a new test for validating the fix (in DialectTest.java):

    @Test
    @DisplayName("test for https://github.com/frictionlessdata/datapackage-java/issues/33, NPE creating Dialect")
    void testIssue33(){
        Dialect dia = Dialect.fromCsvFormat(CSVFormat.DEFAULT);
    }

[2019-12-16 13:11] #33 closed

[2019-12-17 10:08] iSnow commented on #16
There is now a `Dialect`class with fields for

- delimiter
- lineTerminator
- quoteChar
- doubleQuote
- escapeChar
- nullSequence
- skipInitialSpace
- commentChar
- header
- caseSensitiveHeader
- csvddfVersion

According to [specification](https://frictionlessdata.io/specs/csv-dialect/index.html#specification). Working on tests now.

[2020-01-07 10:19] iSnow commented on #5
Link is dead, is this issue still relevant, @roll ?

[2020-01-07 15:43] lwinfree commented on #26
Hi @iSnow & others - we've updated the bounty amount based on your feedback! Again, thanks for the comments :-)

[2020-01-13 12:20] roll commented on #5
@iSnow
The working link is https://frictionlessdata.io/specs/data-package-identifier/

I'm not sure honestly whether it's mature enough to be implemented. We haven't implemented it in Python/JavaScript libraries yet

[2020-01-14 00:12] devmindyg commented on #26
hello @lwinfree and others. I would like to work on this issue, if you guys say it's ok.
I have a free time and can dedicate some hours per day for this project (and need extra money ;) ).

The points raised by @iSnow and @wetneb could be a start
What do you guys say?

[2020-01-14 09:24] iSnow commented on #26
Sounds great, @devmindyg.

Please use [Jackson](https://github.com/FasterXML/jackson) as a replacement JSON library as I am already relying on it in a small way. Please start with the Tableschema-java project (https://github.com/frictionlessdata/tableschema-java) as this is the more mature project and the Datapackage-java project depends on it. Please check back in with me before tackling the Data

[2020-01-14 10:18] wetneb commented on #26
Jackson would indeed be a sensible choice to migrate to. It has some support for JSON schema, so that could potentially replace the current "Everit" implementation: https://github.com/FasterXML/jackson-module-jsonSchema

[2020-01-14 13:44] iSnow commented on #26
To add to the comment by @wetneb the Everit  JSON Schema parser library is *specific to json.org* JSON objects, it cannot be used with Jackson. So the schema validation logic needs to be refactored to use a different JSON Schema validator. The Jackson module mentioned is mostly for generating a JSON Schema from a POJO (which is something tableschema-java supports), and there's also https://github.

[2020-01-14 20:54] devmindyg commented on #26
@iSnow @wetneb points taken!
@iSnow do you want to work on feature branches directly here on this repo?
or can we move on with fork/PR for this refactoring?
Today i'm working on tests with jackson on my fork
https://github.com/devmindyg/datapackage-java

[2020-01-14 21:08] iSnow commented on #26
Forking/PR is fine, @devmindyg, but please keep in mind you absolutely should start with tableschema-java as it is the lower-level library. datapackage-java (the one you cloned) must come later, it is currently in no state for changing the JSON lib.

[2020-01-14 21:34] devmindyg commented on #26
Thanks for the clarification @iSnow
i'll start with tableschema-java

[2020-01-23 02:12] devmindyg commented on #26
@iSnow i changed the tests to jackson on tableschema-java. Would you like me to submit a PR to a feature branch on tableschema-java, so you can see the progress?

[2020-01-23 21:17] iSnow commented on #26
Hey @devmindyg thanks for working on the library. I absolutely like what I see, very good work, and please go ahead and submit a PR.

A couple of small things:

- The tests are a mixture of JUnit 4.x and JUnit 5.x (Jupiter). All files with tests I created are 5.x, and the ones I inherited are 4.x, even the individual tests I added there. I know this is not optimal, but I focused on getting the fun

[2020-01-26 23:15] devmindyg commented on #26
Hi @iSnow
sorry for the formatting changes, my editor was set to auto format code :(
i'll be more careful regarding formatting.
I changed newly added assert statements to use jupiter api and submitted a PR to the integration branch.

[2020-01-30 12:03] devmindyg commented on #26
Hello again,
@iSnow i started working on jackson refactoring in tableschema-java. There are some explicit type checks for org.json.JSONArray instances, I replaced the type checks for NodeArray from jackson, but as you stated here https://github.com/frictionlessdata/datapackage-java/issues/26#issuecomment-547765201 . It may be a good idea to check for generic ArrayList (or may be another collection

[2020-01-30 15:38] iSnow commented on #26
Yes, let's keep this the main communication channel.

I'd rather we completely parse the JSON to Java collections/objects and then use type-safe methods to access their properties. Currently, things like `Schema` have  `fromJson()` methods like `initFromSchemaJson(String json)` that does a lot of heavy-lifting. Ideally, it could be replaced by methods in ObjectMapper like `Schema schema = mapper.r

[2020-01-30 15:46] wetneb commented on #26
I haven't had a close look but the `forType` method sounds like something that could be replaced by a Jackson `TypeIdResolver`. Its use is explained here:
https://www.baeldung.com/jackson-advanced-annotations#jsontypeidresolver

Or if the list of subclasses is fixed (and not meant to be extensible by users), then annotations could do it too:
https://www.baeldung.com/jackson-inheritance#2-per-class

[2020-01-30 16:29] iSnow commented on #26
Thanks, @wetneb, very helpful. Yes, the list of subclasses _is_ fixed and is not user-extensible as the list of subclasses is tied to the schema definition by frictionlessdata.

[2020-03-16 15:15] rufuspollock commented on #26
@all any update on progress here? What's needed to get this finished? It would be great to this in ...

[2020-03-20 14:28] iSnow commented on #26
@rufuspollock due to COVID-19, I am currently busy

[2020-04-08 18:57] Amraneze commented on #26
@iSnow, @rufuspollock do you want me to start on tableschema-java ?

[2020-04-08 20:19] wetneb commented on #26
It might be worth checking with @devmindyg first, to see if they got anywhere near completing this.

[2020-04-09 19:20] iSnow commented on #26
@Amraneze You'll have to wait for @devmindyg to declare whether they are still working on it.

[2020-04-10 13:14] rufuspollock commented on #26
@devmindyg could you let us know in the next few days if you are still working on this? If not we are planning to see if someone else could take it on.

[2020-04-10 17:14] rufuspollock commented on #26
@lwinfree could you state in the description of the issue the details of the bounty as the bountysource link is giving an error atm.

[2020-04-15 01:55] ItsMrRyan commented on #25
+1 for this feature

[2020-04-15 21:34] iSnow commented on #25
I am pondering uploading tableschema-java to maven central after the COVID-scare is over, but datapackage-java currently is not in a shape or form to do this. Quite honestly there are security issues and a lot of code is more jury-rigged than anything else. That would be bad on its own, but the API is also (still) not great in some places.

[2020-04-20 17:31] rufuspollock commented on #26
@jdbranham please go ahead - we have not heard from @devmindyg for a while. /cc @lwinfree @lauragift21

[2020-04-20 18:43] lwinfree commented on #26
Thanks for your interest @jdbranham! @devmindyg thanks for your work on this, but we will need to move ahead here.

[2020-04-21 15:21] jdbranham commented on #26
There were no existing conflicts, so I merged `master -> integration` and work on the changes in my fork of the integration branch.
Thanks team!

[2020-04-21 20:35] jdbranham commented on #26
@iSnow @wetneb - I've got a working prototype using Jackson's `@JsonTypeInfo` that should simplify the deserialization process in general.
I'll check my progress in later this evening.

[2020-04-22 15:39] jdbranham commented on #26
@iSnow  @rufuspollock @lwinfree
I've got [de]serialization working, but have a question about schema validation.

According to the everit library -

if you want to use the org.json API then this library is the better choice

Should I implement schema validation with this library?
https://github.com/java-json-tools/json-schema-validator

Is the license acceptable ASL2.0 + LGPL?

[2020-04-23 03:52] jdbranham commented on #26
Actually this one is active, Apache 2.0, and lightweight -
https://github.com/networknt/json-schema-validator

I'll go ahead with this, but I've abstracted the schema validation, so it will be easier to switch if necessary.

[2020-04-23 10:20] iSnow commented on #26
Sounds great, @jdbranham. It's clear that we have to move away from the everit library, as this is too tightly bound to the org.json API. I don't have a strong opinion on which JSON-schema lib to use, the one you found seems like a very good choice.

From what I read, you are on a good path using the Jackson features to read/write JSON, so please carry on :)

[2020-04-23 21:43] jdbranham commented on #26
Thanks @iSnow -
I ran into a snag with the CSV read/write. The jackson library doesn't support complex objects =\

Workaround for the deserialization process - when the table row is parsed, we can replace the 'speech' quotes the previous library used, with regular double quotes. So it _should_ be backwards compatible.

For serialization, it was a little tricker. Basically we change the Json `Array

[2020-04-24 18:05] jdbranham commented on #26
Actually the title isn't considered in `equals` - it was the constraint initialization.
Problem fixed.

https://travis-ci.org/github/frictionlessdata/tableschema-java/builds/679147569

[2020-04-26 05:43] jdbranham commented on #26
PR opened for `datapackage-java`
I set the dependency for `tableschema-java` to work with local development, so we'll need to update the artifact coordinates to point to the correct version [once that PR is merged].

https://github.com/frictionlessdata/datapackage-java/pull/35

[2020-05-01 15:24] lwinfree commented on #26
Hi @iSnow + @jdbranham! Thanks for all the work here! Has https://github.com/frictionlessdata/tableschema-java/pull/55 closed this issue? Or are there other parts remaining?

[2020-05-03 11:32] iSnow commented on #26
hi @lwinfree - not fully, I need to review the PR for datapackage-java, which I will do in the coming days, then it should be good to close the issue and pay the bounty.

[2020-05-31 04:16] jdbranham commented on #26
Do I need to do anything else? =)

[2020-06-01 21:27] lwinfree commented on #26
Hi @jdbranham thank you for all your work and for pinging me. I'm going to close this so we can pay you the bounty. Cheers!
Fixed via https://github.com/frictionlessdata/datapackage-java/pull/35

[2020-06-01 21:27] #26 closed

[2020-06-02 18:17] lwinfree commented on #26
hey @jdbranham can you claim the bounty on bounty source? Let me know if you have problems!

[2020-06-22 10:28] rufuspollock opened #37 "Do a release of updating lib"
With lib now updated with appropriate open source json parser let's do a release so downstream can pull. Would be relevant for OpenRefine see e.g. https://github.com/OpenRefine/OpenRefine/issues/778#issuecomment-647021107

@roll would you be able to lead on this?

/cc @lwinfree

[2020-06-22 10:37] roll commented on #37
Hi @iSnow, could you please release?

[2020-06-23 22:20] iSnow commented on #37
Do we want to release manually or make it part of the CI pipeline?

I can prepare the steps, but it would be good if you both read through:
- https://medium.com/@nmauti/publishing-a-project-on-maven-central-8106393db2c3
- https://dzone.com/articles/publish-your-artifacts-to-maven-central

since there are a couple of steps necessary that need the handling of credentials. It would be good if you hav

[2020-06-24 05:38] roll commented on #37
Thanks @iSnow, I'll set it up. I had forgotten about #25

[2020-06-28 07:32] roll commented on #37
Sure, we use the OKFN account usually for package registries so I just need to prepare all this stuff. It seems it requires wrapping my head around all this stuff for Java so I'll be on it in a week or so.

[2020-07-05 20:55] iSnow commented on #37
@roll this might help:

- https://blog.sonatype.com/2010/01/how-to-generate-pgp-signatures-with-maven/
- https://dzone.com/articles/publish-your-artifacts-to-maven-central
- https://medium.com/@nmauti/publishing-a-project-on-maven-central-8106393db2c3

[2020-08-05 09:30] roll commented on #37
I've checked this guide - https://dzone.com/articles/publish-your-artifacts-to-maven-central - and it feels really overwhelming for a person who has never touched any Java code. It seems I need to set up the whole java dev environment and then do a lot of other steps I'm not sure about. As a last resort, I can, of course, do it but just wondering if there are simpler options.

@rufuspollock, maybe

[2020-08-05 09:35] roll commented on #37
It seems to release to https://packagecloud.io/ is much easier and there is a Travis automation for it but I'm not sure this package registry is what is needed for OpenRefine

[2020-09-30 20:46] timrobertson100 opened #38 "Document Relations"
Can you please document the expected behaviour of `relations` which is referenced in many places, e.g. [here](https://github.com/frictionlessdata/datapackage-java/blob/master/src/main/java/io/frictionlessdata/datapackage/resource/Resource.java#L41)?

I had naively assumed a DP reader would follow foreign keys and return the end of the relation in a nested object inline.

Thanks!

[2020-10-05 16:35] iSnow commented on #38
That should be detailed in https://github.com/frictionlessdata/specs which is what we are trying to implement. If that project doesn't have it, the issue should be reported there first

[2021-02-26 17:03] iSnow commented on #23
Use `write (File outputDir, boolean zipCompressed)` in `Package.java` and set `zipCompressed` to `true`

[2021-02-26 17:03] #23 closed

[2021-02-26 17:04] iSnow commented on #16
Some tests exist, won't do more

[2021-02-26 17:04] #16 closed

[2021-03-17 09:57] iSnow commented on #38
Closing as this is a documentation issue for the specifications, not the Java port.

[2021-03-17 09:57] #38 closed

[2021-03-17 10:04] iSnow commented on #24
A test exists in the "tableschema-java" project in https://github.com/frictionlessdata/tableschema-java/blob/master/src/test/java/io/frictionlessdata/tableschema/schema/SchemaTest.java, method `testReadFromInValidSchemaFileWithStrictValidation`

[2021-03-17 10:04] #24 closed

[2021-03-17 10:06] iSnow commented on #5
Closing till the specs are mature enough for implementation.

[2021-03-17 10:06] #5 closed

[2021-03-17 10:09] iSnow commented on #29
Changes implemented close to proposal #1, so no builder pattern.

[2021-03-17 10:09] #29 closed

[2021-03-17 10:26] iSnow commented on #21
No-args constructor has been removed as it has led to an invalid package.

The desired functionality can mostly be achieve by using the `Package(String jsonStringSource, Path basePath, boolean strict)` constructor to read in a "template" datapackage and removing the resources.

[2021-03-17 10:26] #21 closed

[2021-03-17 11:16] timrobertson100 commented on #38
FWIW I think this is a poor response. This is a Java API with public methods that have next to no documentation - linking to the relevant section of the official documentation would be appropriate.

[2021-03-18 14:34] iSnow commented on #38
Sorry to hear that but it is what it is.

The Java port for ages has had basically no contributors except for me and I am an unpaid volunteer. I tried to improve the quality of code and docs where I use the lib, but I don't need or use document relations. If you want to contribute better docs and/or code for this part, I am more than happy to accept pull requests.

If you want to work on it, I can

[2021-03-29 11:08] georgeslabreche opened #39 "Make code citable"
# Overview

Make all frictionlessdata repos citable with a DOI via Zenodo:
https://guides.github.com/activities/citable-code/

---

Please preserve this line to notify @iSnow (lead of this repository)

[2021-06-03 07:25] sniffertine commented on #37
Hi all. I use the library through jitpack. maybe a tag in this repo would be enough to have a "release"?

With a tag, you can use the tag name as version with jitpack. In gradle, this would look like this:
`implementation('com.github.frictionlessdata:datapackage-java:<tag-name>')`

[2021-06-03 10:41] iSnow commented on #37
Good idea, I tagged this as "0.1.1". Ultimately, I'd like to get it on mvnrepository, but this will do for the time

BTW, I am looking for contributors, if you feel like you'd like to do some things better, please do submit tickets or PRs.

[2021-06-03 11:19] sniffertine commented on #37
Cool. I will quickly integrate the tagged version here.

And yes, I have a suggestion that might me worth at least a ticket. The datapackage files require to be on the filesystem, but my JVM integration here (https://github.com/datasets/unece-units-of-measure/pull/3) uses the datapackage from inside a .jar file. Currently, I copy the files from inside the jar into a temp folder before I am able to

[2021-08-12 18:58] lwinfree commented on #25
Hi @iSnow just following up here. This is now on Jitpack (https://jitpack.io/#frictionlessdata/datapackage-java) so I'm guessing it doesn't need to be on Maven Central? Besides that, I hear your concerns about the state of the code - can we provide any support for getting the code in better shape? Thanks :-)

[2021-08-19 07:28] roll opened #40 "Migrate to Github Actions"
# Overview

See https://github.com/frictionlessdata/tableschema-java/issues/66

[2022-06-27 10:26] iSnow opened #41 "Register project at travis-ci.com, please"
# Overview

@roll we used Travis-CI dot ORG (https://travis-ci.org/frictionlessdata/datapackage-java) as a CI and test pipeline, but that's gone away. Could you please register us at https://www.travis-ci.com/ instead?

TIA

[2022-07-11 13:07] #40 closed

[2022-07-11 13:10] roll commented on #41
DONE in https://github.com/frictionlessdata/datapackage-java/pull/42

[2022-07-11 13:10] #41 closed

[2022-08-05 15:46] jze opened #43 "character set of a resource"
# Overview

It seems that the character set of a resource is not taken into account.  Here is a simple test case with ISO8859-1 encoding.

[code]

---

Please preserve this line to notify @iSnow (lead of this repository)